body {
  margin: 0;
  overflow: hidden;
  background-color: #111;
  cursor: none;
}

.line-x,
.line-y {
  position: fixed;
  background-color: rgba(198, 6, 6, 0.5);
  z-index: 10;
  pointer-events: none; /* This is important! */
}

.line-x {
  width: 1px;
  height: 100vh;
  top: 0;
  left: 0; /* Start at the edge */
}

.line-y {
  width: 100vw;
  height: 1px;
  left: 0;
  top: 0; /* Start at the edge */
  color: blueviolet;
}