* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}


.line-x {
  left: 0;
  right: 0
  position: fixed;
  background-color: rgba(27, 255, 6, 0.5);
  pointer-events: none;
  z-index: 10;
}
.line-y {
  top:0;
  bottom:0;
  position: fixed;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}

