.line-x {
  position: absolute;
  background-color: rgba(27, 255, 6, 0.5);
  pointer-events: none;
}
.line-y {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
}
